@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.testimonial{
background: #FFEFE3;
width: 81%;
margin-left: auto;
margin-right: auto;
}
.testimonial-header{
display: flex;
flex-direction: row;
align-items:center;
justify-content: center;
gap: 19px;
}
.testimonial-heading{
   align-items: center;
   display: grid;
}
.testimonial-chakra{
    margin-left: auto;
    margin-right: auto;
}
.testimonial-header > h2{
  padding: 0%;
font-style: normal;
font-size: 32px;
letter-spacing: 0.085em;
color: #D97122;
}
.offers{
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.20));
border-radius: 4px;
}
.offers img{
  width: 100%;
}
.testimonial-carousel-container {
  width: 100%;
  margin: 5rem auto;
 
}
.slide img {
  width: 20rem;
  margin: 0 auto;
}
.slide {
  transform: scale(0.6);
  transition: transform 300ms;
  /* opacity: 0.5; */
}
.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  height: 20px;

}
.arrow:hover{
    background-color: #D97122;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover, .arrow:hover {
  color: #fff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}